{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>the sabine page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hampy.png') }}" alt="hampy" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What should <mark>people know about sabine</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>sabine slays.</li>
                            <li>sabine is a pro roblox genius</li>
                            <li>and also the most talented and cool person to ever exist</li>
                            <li>and very awesome and cool</li>
                            <li>but not a loser</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hampy.png') }}" alt="Hampy" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>a hobby</mark>? of sabines?</h5>
                    <p class="card-text">
                        <ol>
                            <li>slaying is sabines number one hobby. </li>
                            <li>she also enjoys greys anatomy, beebee asmr, and reading.</li>
                            <li>she occasionally writes and is always listening to music. </li>
                            <li>she also likes coding.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hampy.png') }}" alt="hampy" height="250">
                    <div class="card-body">
                    <h5 class="card-title">what are <mark>sabines</mark> favorite songs?</h5>
                    <p class="card-text">
                        <ol>
                            <li>her favorite genre is rap/hip hop, especially by female artists.</li>
                            <li>however, she also likes indie and alternative.</li>
                            <li>her music taste is generally really random and she likes most of everything.</li>
                            <li>except among us trap remix.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}